.custom-navbar-bg {
  background-color: #3498db;
  margin-bottom: 50px
}

.btn-Info {
  margin-bottom: 50px;
}

.btn-Info a,
.btn-Success a {
  color: white;
  text-decoration: none !important;
}

.grid-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 90px;
  gap: 20px
}

.Detalle {
  width: 100%;
  background-color: #3498db;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information p {
  font-size: 2rem
}

.back-btn {
  margin-top: 40px;
}

.btn-actions button {
  margin-right: 20px;
}